<!-- 
<div class="sidebar"style="margin-top: -21px">
  <a  style="cursor: pointer;" [routerLink]="['/']">Dashboard</a>  
  <a  style="cursor: pointer;" [routerLink]="['/project']">Projects</a>
  </div> -->
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
             <a  style="cursor: pointer;" [routerLink]="['/']">
              <span data-feather="home"></span>
              Dashboard 
            </a>
          </li>
          <li class="nav-item">
            <a style="cursor: pointer;" [routerLink]="['/student']">
              <span data-feather="file"></span>
              Students
            </a>
          </li>
          <li class="nav-item">
            <a style="cursor: pointer;" [routerLink]="['/fees']">
              <span data-feather="file"></span>
              Fees
            </a>
          </li>
          <li class="nav-item">
            <a style="cursor: pointer;" [routerLink]="['/studentTimesheet']">
              <span data-feather="file"></span>
              Fees
            </a>
          </li>
         
            
        
        </ul>
      </div>
    </nav>