<div class="container">
  <div class="row">
    <div class="col-md-12 offset-md-0">
      <form [formGroup]="createTimesheetForm" (ngSubmit)="onSubmit(e)">
        <ng-container formArrayName='timesheet'>
            <div *ngFor='let item of timesheetForm.controls; let i = index;let last=last;let i=index let first=first' [formGroupName]='i' >
         <div class="card mt-4">
           <div class="card-body">
          <div
            class="section-container"
            
          >
            <div class="row ml-1">
              <div class="form-group">
                <label>Student Name</label>
                <input
                  type="text"
                  placeholder="name"
                  class="form-control"
                  formControlName="name"
                
                />

                <div
                  *ngIf="submitted && f.name.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.name.errors.required">
                    Select name
                  </div>
                </div>
              </div>
              <div class="form-group ml-3">
                <label>Date</label>
                <input
                  type="text"
                  placeholder="date"
                  class="form-control"
                  formControlName="date"
                 
                />

                <div
                  *ngIf="submitted && f.date.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.date.errors.required">Select end time</div>
                </div>
              </div>

              <div class="form-group ml-3">
                <label> Status</label>
                <select
                  formControlName="status"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f.status.errors
                  }"
                >
                  <option value="">Present</option>
                  <option value="">Absent</option>
                 
                </select>
              </div>
             
              <div class="img" *ngIf='!first'>
              <img (click)="deleteTimesheet()" src="./assets/images (1).jpg" style="width: 23px; height: 21px;margin: -34px 0px 32px 112px;">
              </div>
            </div>
          
              <button type="submit"style="display:inline-block; float:right;margin-top: -50px;" (click)="addStudentTimesheet()" class="btn btn-sm btn-outline-secondary">
                Add
              </button>
              
           
           </div>
          </div>
         </div>
    
     </div>
    </ng-container>
      
        </form>
      </div>
    </div>
  </div>

